{% load staticfiles %}

<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>search</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/awesomplete.css' %}" />
</head>

<body>
    <h1 align="center">Lyric-based Music Recommendation</h1>

    <p id="quote">
        "People listen to songs, or other kinds of music with text, constantly--using messages found in the lyrics to get excited, to be soothed, to express love, to help with a task, to help them cry, or to solidify the most fundamental philosophies of their lifes."
    </p>

    <br />
    <br />
    
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" align="center">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active img-responsive">
            <img src={% static 'image/1.png' %} style="height:400px;" alt="First slide"/>
            <div class="carousel-caption">
                <h4></h4>
            </div>
        </div>
        <div class="item">
            <img src={% static 'image/2.png' %} style="height:400px;" alt="Second slide"/>
            <div class="carousel-caption">
                <h4></h4>
            </div>
        </div>
        <div class="item">
            <img src={% static 'image/3.png' %} style="height:400px;" alt="Third slide"/>
            <div class="carousel-caption">
                <h4></h4>
            </div>
        </div>
        <div class="item">
            <img src={% static 'image/4.png' %} style="height:400px;" alt="Third slide"/>
            <div class="carousel-caption">
                <h4></h4>
            </div>
        </div>
    </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="icon-prev glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="icon-next glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    </br></br></br></br>

    <!-- first part : prediction-->
    <div class="col-md-5" id = "leftColumn-3">
        </br>
        <img src={% static 'image/104.png' %} style="height:230px;" align='right'>
    </div> 

    <div class="col-md-7" id = "rightColumn-3">
        <h2 align="left">TAG PREDICTION</h2>
        <h4> Input the name of artist and song to predict the top 3 tags.</h4>
        <hr>
        <!-- <form action="/predict/" method="get" enctype="multipart/form-data" > -->
        <form id = "song_artist_form"> 
            {% csrf_token %}
            <div class="col-md-1" id = "leftColumn-11" align="left">
                <p> Song: </p>
            </div> 
            <div class="col-md-11" id = "rightColumn-11" align="left"> 
                <input id="auto-1" name="song" style="font-size:10pt;height:30px;width:450px;"/>
            </div>

            <div class="col-md-1" id = "leftColumn-12" align="left">
                <p> Artist: </p>
            </div> 
            <div class="col-md-11" id = "rightColumn-12" align="left"> 
                <input id="auto-2" name="artist" style="font-size:10pt;height:30px;width:450px;">
            </div>
            <input id="submit-song" type="submit" value="PREDICT" style="font-size:10pt">

            </br></br>
            <p id='pred_warning_id'> </p>
            <p id='pred_tags_id' style="font-size:20px; color:#5d4e67; font-weight: bold;" > </p>
            <p id='pred_song_id' style="font-weight: bold;"> </p>
            <p id='pred_lyrics_id' span style="white-space: pre-line"> </p>
            

        </form>
    </div>

    </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>

    <!-- second part: recommendation -->
    <div class="col-md-5" id = "leftColumn-3">
        </br>
        <img src={% static 'image/102.png' %} style="height:230px;" align='right'>
    </div>
    <div class="col-md-7" id = "rightColumn-3">
        <h2 align="left"> SONG RECOMMENDATION</h2>
        <h4 align="left"> Input a keyword describing your mood or a theme in mind and search for the best-match songs we recommend.</h4>
        <hr>
        <form id = "recommend_form">
            <div id="text-box">
            <input type="text" name="tag_input" id="tag_input" style="font-size:10pt;height:30px;width:520px;">
            </div>
            <input type="submit" id="submit-text" value="RECOMMEND" style="font-size:10pt">
        </br>
        </br>
        </br>

        </form>

        <p id="rmd_warning"> </p>
        <a id = link0 target="_blank"> <p id = "n0"> </p> </a>
        <a id = link1 target="_blank"> <p id = "n1"> </p> </a>
        <a id = link2 target="_blank"> <p id = "n2"> </p> </a>
        <a id = link3 target="_blank"> <p id = "n3"> </p> </a>
        <a id = link4 target="_blank"> <p id = "n4"> </p> </a>
        <a id = link5 target="_blank"> <p id = "n5"> </p> </a>
        <a id = link6 target="_blank"> <p id = "n6"> </p> </a>
        <a id = link7 target="_blank"> <p id = "n7"> </p> </a>
        <a id = link8 target="_blank"> <p id = "n8"> </p> </a>
        <a id = link9 target="_blank"> <p id = "n9"> </p> </a>
        

    </div>

    </div>

    </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>


    <!-- Load JS libraries -->
    <script src={% static 'js/jquery.min.js' %}></script>
    <script src={% static 'js/bootstrap.min.js' %}></script>
    <script src={% static 'js/queue.min.js' %}></script>
    <script src={% static 'js/topojson.js' %}></script>
    <script src={% static 'js/d3.min.js' %}></script>
    <script src={% static 'js/d3.tip.js' %}></script>
    <script src={% static 'js/tooltip.js' %}></script>
    <script src={% static 'js/d3-legend.min.js' %}></script>
    <script src={% static 'js/awesomplete.js' %}></script>

    <!-- Choropleth and second visualization -->
    <!-- <script src={% static 'js/vis-choropleth.js' %}></script> -->
    <!-- <script src={% static 'js/vis-second.js' %}></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.1/awesomplete.min.js"></script>

    <!-- second     -->
    <script type='text/javascript'>
        $(document).on('submit', '#recommend_form', function(e){
            e.preventDefault();

            $.ajax({
                type: 'GET',
                url: '/recommend/',
                data: {
                    tag_input: $('#tag_input').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                success:function(response){

                    var rmd_name_0 = response['rmd_name_0'];
                    var rmd_name_1 = response['rmd_name_1'];
                    var rmd_name_2 = response['rmd_name_2'];
                    var rmd_name_3 = response['rmd_name_3'];
                    var rmd_name_4 = response['rmd_name_4'];
                    var rmd_name_5 = response['rmd_name_5'];
                    var rmd_name_6 = response['rmd_name_6'];
                    var rmd_name_7 = response['rmd_name_7'];
                    var rmd_name_8 = response['rmd_name_8'];
                    var rmd_name_9 = response['rmd_name_9'];

                    var rmd_link_0 = response['rmd_link_0'];
                    var rmd_link_1 = response['rmd_link_1'];
                    var rmd_link_2 = response['rmd_link_2'];
                    var rmd_link_3 = response['rmd_link_3'];
                    var rmd_link_4 = response['rmd_link_4'];
                    var rmd_link_5 = response['rmd_link_5'];
                    var rmd_link_6 = response['rmd_link_6'];
                    var rmd_link_7 = response['rmd_link_7'];
                    var rmd_link_8 = response['rmd_link_8'];
                    var rmd_link_9 = response['rmd_link_9'];

                    var rmd_warning = response['rmd_warning'];
                    
                    $("#n0").html(rmd_name_0);
                    $("#n1").html(rmd_name_1);
                    $("#n2").html(rmd_name_2);
                    $("#n3").html(rmd_name_3);
                    $("#n4").html(rmd_name_4);
                    $("#n5").html(rmd_name_5);
                    $("#n6").html(rmd_name_6);
                    $("#n7").html(rmd_name_7);
                    $("#n8").html(rmd_name_8);
                    $("#n9").html(rmd_name_9);

                    $("#rmd_warning").html(rmd_warning);


                    document.getElementById("link0").setAttribute("href", rmd_link_0);
                    document.getElementById("link1").setAttribute("href", rmd_link_1);
                    document.getElementById("link2").setAttribute("href", rmd_link_2);
                    document.getElementById("link3").setAttribute("href", rmd_link_3);
                    document.getElementById("link4").setAttribute("href", rmd_link_4);
                    document.getElementById("link5").setAttribute("href", rmd_link_5);
                    document.getElementById("link6").setAttribute("href", rmd_link_6);
                    document.getElementById("link7").setAttribute("href", rmd_link_7);
                    document.getElementById("link8").setAttribute("href", rmd_link_8);
                    document.getElementById("link9").setAttribute("href", rmd_link_9);

                }
            });
        });

    </script>


    <!-- first -->
    <script type="text/javascript">
        $(document).on('submit', '#song_artist_form', function(e){
            e.preventDefault();

            $.ajax({
                type: 'GET',
                url: '/predict/',
                data: {
                    song: $('#auto-1').val(),
                    artist: $('#auto-2').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                success:function(response){
                    console.log(response['song_info']);
                    console.log(response['tags']);
                    console.log(response['lyric']);
                    console.log(response['warning']);

                    var pred_song_info = response['song_info'];
                    var pred_tags = response['tags'];
                    var pred_lyric = response['lyric'];
                    var pred_warning = response['warning'];

                    $("#pred_tags_id").html(pred_tags);
                    $("#pred_song_id").html(pred_song_info);
                    $("#pred_lyrics_id").html(pred_lyric);
                    $("#pred_warning_id").html(pred_warning);
                }
            });
        });
    </script>



    <script>

    var input1 = document.getElementById("auto-1");
    var songs = [
'you raise me up',
'Halo',
'a place nearby',
'all i want for Christmas',
'o holy night',
'hero',
'i\'m yours',
'Rolling In The Deep',
'the star spangled banner',
'Wake Me up When September Ends',
'(When You Gonna) Give It Up To Me',
 '0 To 100 / The Catch Up',
 '1 Thing',
 '1, 2 Step',
 '2 On',
 '2 Phones',
 '2 Step',
 '21 Guns',
 '23',
 '3',
 '4 Minutes',
 '50 Ways To Say Goodbye',
 '6 Foot 7 Foot',
 '679',
 '7 Things',
 '7 Years',
 'A Bay Bay',
 'A Milli',
 'A Sky Full Of Stars',
 'A Thousand Years',
 'According To You',
 'Addicted',
 'Adore You',
 'Adorn',
 'Adventure Of A Lifetime',
 'Airplanes',
 'Alejandro',
 'All About That Bass',
 'All I Do Is Win',
 'All In My Head (Flex)',
 'All Of Me',
 'All Of The Lights',
 'All Summer Long',
 'All The Right Moves',
 'All The Way Up',
 'Already Gone',
 'Am I Wrong',
 'American Boy',
 'American Honey',
 'American Kids',
 'Amnesia',
 'Anaconda',
 'Animal',
 'Animals',
 'Antidote',
 'Apologize',
 'Are You Gonna Kiss Me Or Not',
 'As Good as I Once Was',
 'As Long as You Love Me',
 'Ass Back Home',
 'Ayo Technology',
 'Baby',
 'Back In Time',
 'Back Then',
 'Back To December',
 'Back To Sleep',
 'Backseat',
 'Bad Day',
 'Bad Romance',
 'Bailando',
 'Bang Bang',
 'Barefoot Blue Jean Night',
 'Bartender',
 'Battlefield',
 'Be without You',
 'Beautiful',
 'Beautiful Girls',
 'Beautiful Liar',
 'Beautiful Soul',
 'Because Of You',
 'Because of You',
 'Bed',
 'Bedrock',
 'Beep',
 'Before He Cheats',
 'Behind These Hazel Eyes',
 'Believe Me',
 'Best Day Of My Life',
 'Best I Ever Had',
 'Best Thing I Never Had',
 'Best of You',
 'Better In Time',
 'Better Than Me',
 'Beverly Hills',
 'Big Green Tractor',
 'Billionaire',
 'Birthday',
 'Birthday Cake',
 'Birthday Sex',
 'Black And Yellow',
 'Black Horse & the Cherry Tree',
 'Black Widow',
 'Blah Blah Blah',
 'Blame It',
 'Bleeding Love',
 'Blow',
 'Blow Me (One Last Kiss)',
 'Blown Away',
 'Blurred Lines',
 'Boom Boom Pow',
 'Boom Clap',
 'Born This Way',
 'Bossy',
 'Bottoms Up',
 'Boulevard of Broken Dreams',
 'Boyfriend',
 'Brave',
 'Break Free',
 'Break It Off',
 'Break Up',
 'Break Your Heart',
 'Breakaway',
 'Breakeven',
 'Bring em Out',
 'Broccoli',
 'Brokenhearted',
 'Bubbly',
 'Bulletproof',
 'Burn',
 'Burn It Down',
 'Bust It Baby Part 2',
 'Buttons',
 'Cake By The Ocean',
 'California Gurls',
 'Call Me Maybe',
 'Candy Shop',
 'Carry Out',
 'Cater 2 U',
 'Caught Up',
 'Chain Hang Low',
 'Chandelier',
 'Chariot',
 'Chasing Cars',
 'Cheap Thrills',
 'Check on It',
 'Cheers (Drink To That)',
 'Chicken Fried',
 'Circus',
 'Classic',
 'Climax',
 'Close',
 'Closer',
 'Closer',
 'Clumsy',
 'Cold Water',
 'Colder Weather',
 'Collide',
 'Come Over',
 'Come With Me Now',
 'Coming Home',
 'Controlla',
 'Cool',
 'Cool Kids',
 'Cooler Than Me',
 'Counting Stars',
 'Country Girl (Shake It For Me)',
 'Crack A Bottle',
 'Crank That (Soulja Boy)',
 'Crazy',
 'Crazy Girl',
 'Crush',
 'Cut It',
 'Cyclone',
 'Damaged',
 'Dance (A$$)',
 'Dance, Dance',
 'Dangerous',
 'Dangerous Woman',
 'Dani California',
 'Dark Horse',
 'Daughters',
 'Dead And Gone',
 'Deja Vu',
 'Demons',
 'Deuces',
 'Diamonds',
 'Die A Happy Man',
 'Die Young',
 'Dirt',
 'Dirt Road Anthem',
 'Dirty Little Secret',
 'Disco Inferno',
 'Disturbia',
 'Diva',
 'Do I Make you Proud',
 'Do What U Want',
 'Do You Remember',
 'Do it to It',
 'Domino',
 'Down',
 'Down In The Dm',
 'Down On Me',
 'Drank In My Cup',
 'Drive By',
 'Drunk In Love',
 'Drunk On A Plane',
 'Drunk On You',
 'Dynamite',
 'E.T.',
 'Eenie Meenie',
 'Empire State Of Mind',
 'Empire State of Mind',
 'Even If It Breaks Your Heart',
 'Every Girl',
 'Everybody Talks',
 'Everytime We Touch',
 'Exchange',
 'F**K You (Forget You)',
 'Face Down',
 'Fall For You',
 'Fancy',
 'Far Away',
 'Feel Good Inc',
 'Feel So Close',
 'Feels Like Tonight',
 'Fergalicious',
 'Find Your Love',
 'Fire Burning',
 'Fireflies',
 'Firework',
 'First Time',
 'Flashing Lights',
 'Fly Over States',
 'For Free',
 'For The First Time',
 'For You I Will (Condience)',
 'Forever',
 'Gangnam Style',
 'Get Back',
 'Get It Shawty',
 'Get Like Me',
 'Get Right',
 'Get Up',
 'Gimme That',
 'Girlfight',
 'Girlfriend',
 'Give It To Me',
 'Give Me Everything',
 'Give Me That',
 'Give Your Heart A Break',
 'Gives You Hell',
 'Glad You Came',
 'Glamorous',
 'Go Getta',
 'God Gave Me You',
 'Gold',
 'Gold Digger',
 'Good Feeling',
 'Good Girl',
 'Good Girls Go Bad',
 'Good Life',
 'Good Time',
 'Goodbye',
 'Got Money',
 'Gotta Be Somebody',
 'Green Light',
 'Grenade',
 'Grillz',
 'Grind With Me',
 'H.O.L.Y.',
 'Habits (Stay High)',
 'Halo',
 'Hands To Myself',
 'Happy',
 'Hard',
 'Hard To Love',
 'Hate It or Love It',
 'Hate Me',
 'Hate That I Love You',
 'Headlines',
 'Heart Attack',
 'Heartless',
 'Heathens',
 'Heaven Sent',
 'Hello',
 'Her Diamonds',
 'Here',
 'Here (In Your Arms)',
 'Hey Baby (Drop It To The Floor)',
 'Hey Brother',
 'Hey There Delilah',
 'Hey, Soul Sister',
 'Hide Away',
 'Ho Hey',
 'Hold It Against Me',
 'Holiday',
 'Hollaback Girl',
 'Home',
 'Honey Bee',
 'Hot Boy',
 'Hot N Cold',
 'Hot n Cold',
 'Hotel Room Service',
 'Hotline Bling',
 'How Do You Sleep?',
 'How Low',
 'How To Love',
 'How To Save A Life',
 'How We Do',
 'How to Save a Life',
 'Humble And Kind',
 'Hung Up',
 'Hymn For The Weekend',
 'Hypnotized',
 'I Do Not Hook Up',
 'I Gotta Feeling',
 'I Hate This Part',
 'I Hate U I Love U',
 'I Kissed A Girl',
 'I Know What You Did Last Summer',
 'I Know You See It',
 'I Know You Want Me (Calle Ocho)',
 'I Like It',
 'I Love College',
 'I Luv Your Girl',
 'I Made It (Cash Money Heroes)',
 'I Need A Doctor',
 'I Remember',
 'I Run To You',
 'I Think They Like Me',
 'I Took A Pill In Ibiza',
 'I Tried',
 'I Wanna Go',
 'I Wanna Love You',
 'I Write Sins not Tragedies',
 'Ice Box',
 'If Everyone Cared',
 'If I Die Young',
 'If I Were A Boy',
 'If Today Was Your Last Day',
 'If U Seek Amy',
 'Imma Be',
 'Impossible',
 'In Love With A Girl',
 'In My Head',
 'In The Ayer',
 'In The Dark',
 'In The Night',
 'Incomplete',
 'Independent',
 'Inside your Heaven',
 'International Love',
 'Into The Night',
 'Into You',
 'Irreplaceable',
 'It Ends Tonight',
 'It Will Rain',
 'Jar Of Hearts',
 'Jesus, take the Wheel',
 'Jumpman',
 'Just A Dream',
 'Just A Kiss',
 'Just Dance',
 'Just Fine',
 'Just Like Fire',
 'Just The Way You Are',
 'Just a Lil Bit',
 'Just the Girl',
 'Karma',
 'Keep Holding On',
 'King Of Anything',
 'Kiss Kiss',
 'Kiss Me Thru The Phone',
 'Knee Deep',
 'Knock You Down',
 'La La La',
 'La Tortura',
 'Laffy Taffy',
 'Last Friday Night (T.G.I.F.)',
 'Last Night',
 'Latch',
 'Lean On',
 'Lean Wit It, Rock Wit It',
 'Leave The Night On',
 'Let Her Go',
 'Let It Go',
 'Let It Rock',
 'Let Me Go',
 'Let Me HOld You',
 'Let Me Love You',
 'Let Me Love You (Until You Learn To Love Yourself)',
 'Life After You',
 'Life is a Highway',
 'Lifestyle',
 'Lighters',
 'Lights',
 'Like A Boy',
 'Like A G6',
 'Like You',
 'Lips Of An Angel',
 'Lips of an Angel',
 'Listen to your Heart',
 'Live Your Life',
 'Lolli Lolli (Pop That Body)',
 'Lollipop',
 'London Bridge',
 'Lonely',
 'Lonely No More',
 'Look At Me Now',
 'Lose Control',
 'Lose My Breath',
 'Lost Boy',
 'Lost Without U',
 'Love',
 'Love Drunk',
 'Love In This Club',
 'Love Like This',
 'Love Lockdown',
 'Love Never Felt So Good',
 'Love Remains The Same',
 'Love Runs Out',
 'Love Song',
 'Love Story',
 'Love The Way You Lie',
 'Love You Like A Love Song',
 'Love Yourself',
 'Lovegame',
 'Lover, Lover',
 'Lovers and Friends',
 'Lovestoned',
 'Low',
 'Low Life',
 'Loyal',
 'Luv',
 'Mad',
 'Magic',
 'Make It Rain',
 'Make Me Better',
 'Makes Me Wonder',
 'Maps',
 'Me & U',
 'Me And My Broken Heart',
 'Me Too',
 'Me, Myself and I',
 'Meet Me Halfway',
 'Mercy',
 'Middle',
 'Mine',
 'Misery',
 'Miss Independent',
 'Mississippi Girl',
 'Mockingbird',
 'Moment 4 Life',
 'Money Maker',
 'More',
 'Motivation',
 'Move Along',
 'Moves Like Jagger',
 'Mr. Brightside',
 'Mrs. Officer',
 'Ms. New Booty',
 'My Boo',
 'My Chick Bad',
 'My First Kiss',
 'My Hitta',
 'My House',
 'My Humps',
 'My Last',
 'My Life',
 'My Life Would Suck Without You',
 'My Love',
 'Na Na',
 'Naturally',
 'Need You Now',
 'Needed Me',
 'Never Again',
 'Never Be Like You',
 'Never Forget You',
 'Never Say Never',
 'New Divide',
 'New Flame',
 'Ni**As In Paris',
 'No',
 'No Air',
 'No Hands',
 'No Lie',
 'No Limit',
 'No Mediocre',
 'No One',
 'No Surprise',
 'Not A Bad Thing',
 'Not Afraid',
 'Not Over You',
 'Numb/Encore',
 'Number One Spot',
 'O',
 'OMG',
 'Obsessed',
 'Obsession (No Es Amor)',
 'Oh',
 'On My Mind',
 'On The Floor',
 'On The Hotline',
 'One Call Away',
 'One Dance',
 'One More Night',
 'One Step at A Time',
 'One Time',
 'One Wish',
 'Only Girl (In The World)',
 'Ordinary People',
 'Oui',
 'Our Song',
 'Outta Control (Remix)',
 'Outta My System',
 'Over',
 'Over My Head (Cable Car)',
 'Over and Over',
 'Panda',
 'Paparazzi',
 'Paper Planes',
 'Paradise',
 'Paralyzer',
 'Part Of Me',
 'Partition',
 'Party In The U.S.A.',
 'Party Like A Rockstar',
 'Party Rock Anthem',
 'Party in the U.S.A.',
 'Payphone',
 'People Are Crazy',
 'Perfect',
 'Photograph',
 'Piece Of Me',
 'Pillowtalk',
 'Play',
 'Play It Again',
 'Pocketful of Sunshine',
 'Poker Face',
 'Pompeii',
 'Pon de Replay',
 'Pontoon',
 'Pop Champagne',
 'Pop Style',
 'Pop, Lock & Drop It',
 'Pound The Alarm',
 'Pretty Girl Rock',
 'Pretty Wings',
 'Price Tag',
 'Problem',
 'Promiscuous',
 'Promise',
 'Pump It',
 'Pumped Up Kicks',
 'Put On',
 'Rack City',
 'Radioactive',
 'Raise Your Glass',
 'Rather Be',
 'Realize',
 'Really Really',
 'Red Solo Cup',
 'Rehab',
 'Remind Me',
 'Replay',
 'Rich Girl',
 'Ride',
 'Right Above It',
 'Right Now (Na Na Na)',
 'Right Round',
 'Roar',
 'Rock That Body',
 'Rock Yo Hips',
 'Rocketeer',
 'Rockstar',
 'Roll Up',
 'Rolling In The Deep',
 'Rompe',
 'Roses',
 'Royals',
 'Rude',
 'Rude Boy',
 'Rumour Has It',
 'Run It!',
 'Run This Town',
 'Runaway Love',
 'S&M',
 'SOS',
 'Same Girl',
 'Same Old Love',
 'Say',
 'Say Aah',
 'Say Goodbye',
 'Say Hey (I Love You)',
 'Say It',
 'Say It Right',
 'Say Something',
 'Scars',
 'Scream',
 'Second Chance',
 'Secrets',
 'See You Again',
 'Send My Love (To Your New Lover)',
 'Sensual Seduction',
 'Set Fire To The Rain',
 'Sexy And I Know It',
 'Sexy Can I',
 'Sexy Chick',
 'Sexy Love',
 'Sexyback',
 'Shadow Of The Day',
 'Shake It',
 'Shake It Off',
 'Shake That',
 'Shake it Off',
 'Shawty',
 'She Got It',
 'She Looks So Perfect',
 'She Will',
 'She Will be Loved',
 'She Wolf',
 'Shortie Like Mine',
 'Shoulder Lean!',
 'Show Me',
 'Show Stopper',
 'Shower',
 'Shut Up And Drive',
 'Side To Side',
 'Since U Been Gone',
 'Sing',
 'Single Ladies (Put A Ring On It)',
 'Sit Still, Look Pretty',
 'Slow Down',
 'Smack That',
 'Smile',
 'Snap Yo Fingers',
 'Snow ((Hey Oh))',
 'So Good',
 'So Sick',
 'So What',
 'Sober',
 'Soldier',
 'Some Cut',
 'Some Nights',
 'Somebody That I Used To Know',
 'Someone Like You',
 'Sorry',
 'Sorry',
 'Soul Survivor',
 'Speed of Sound',
 'Springsteen',
 'Starboy',
 'Starships',
 'Starving',
 'Stay Fly',
 'Stay The Night',
 'Stay With Me',
 'Stereo Hearts',
 'Stereo Love',
 'Stickwitu',
 'Stitches',
 'Stop And Stare',
 'Story Of My Life',
 'Stressed Out',
 'Stronger',
 'Stuck Like Glue',
 'Studio',
 'Stupid Girls',
 'Sucker For Pain',
 'Suffocate',
 'Sugar',
 'Sugar (Gimme Some)',
 'Summer',
 'Summer Love',
 'Super Bass',
 'Superstar',
 'Sure Thing',
 'Sweater Weather',
 'Sweet Dreams',
 'Sweetest Girl (Dollar Bill)',
 'Switch',
 'Take A Back Road',
 'Take A Bow',
 'Take A Little Ride',
 'Take Care',
 'Take It Off',
 'Take You There',
 'Talk Dirty',
 'Tattoo',
 'Teach Me How To Dougie',
 'Team',
 'Teardrops On My Guitar',
 'Teenage Dream',
 'Telephone',
 'Temperature',
 'The Boss',
 'The Climb',
 'The Edge Of Glory',
 'The Great Escape',
 'The Hills',
 'The House That Built Me',
 'The Lazy Song',
 'The Man',
 'The Monster',
 'The Motto',
 'The One That Got Away',
 'The Only Exception',
 'The Show Goes On',
 'The Sweet Escape',
 'The Time (Dirty Bit)',
 'The Time Of My Life',
 'The Way I Are',
 'The Way I Live',
 'Then',
 'There Goes My Baby',
 'There it Go! (The Whistle Song)',
 'These Words',
 'This Is How We Roll',
 'This Is What You Came For',
 'Thnks Fr Th Mmrs',
 'Throw It In The Bag',
 'TiK ToK',
 'Tie Me Down',
 'Tiimmy Turner',
 'Till The World Ends',
 'Timber',
 'Titanium',
 'Today Was A Fairytale',
 'Tonight Tonight',
 'Too Close',
 'Too Good',
 'Too Little Too Late',
 'Touch It',
 'Touch My Body',
 'Treat You Better',
 'True',
 'Trumpets',
 'Truth Is',
 'Try Sleeping With A Broken Heart',
 'Turn Down For What',
 'Turn Me On',
 'Turn My Swag On',
 'Turn Up The Music',
 'Turning Me On',
 'Two Is Better Than One',
 'U + Ur Hand',
 'U Already Know',
 'U and Dat',
 'Umbrella',
 'Undo It',
 'Unfaithful',
 'Unpredictable',
 'Unsteady',
 'Untouched',
 'Unwritten',
 'Use Somebody',
 'Viva La Vida',
 'Viva la Vida',
 'Wait (The Whisper Song)',
 'Wait For You',
 'Waiting On The World To Change',
 'Waiting on the World to Change',
 'Wake Me Up!',
 'Wake Me up When September Ends',
 'Waking Up In Vegas',
 'Walk Away',
 'Walk Away (Remember Me)',
 'Walk It Out',
 'Want U Back',
 'Wanted',
 'Watch Me',
 'We Are Never Ever Getting Back Together',
 'We Are Young',
 'We Belong Together',
 'We Fly High',
 'We Found Love',
 'We R Who We R',
 'We Run The Night',
 'Welcome To The Black Parade',
 'What Do You Mean?',
 'What Hurts the Most',
 'What Makes You Beautiful',
 'What The Hell',
 'What You Got',
 'What you Know',
 'Whataya Want From Me',
 'Whatcha Say',
 'Whatever It Is',
 'Whatever You Like',
 'When I Grow Up',
 'When We Were Young',
 'Where Have You Been',
 'Where Them Girls At',
 'Whistle',
 'White Horse',
 'White Iverson',
 'White Walls',
 'Who Knew',
 'Who Says',
 'Why You Wanna',
 'Wicked',
 'Wide Awake',
 'Wiggle',
 'Wild Ones',
 'Wildest Dreams',
 'Wind It Up',
 'With You',
 'Without You',
 'Womanizer',
 'Wonderful',
 'Work',
 'Work From Home',
 'Work Hard, Play Hard',
 'Work Out',
 'Wrecking Ball',
 'Written In The Stars',
 'Yeah 3x',
 'Yo (Excuse Me Miss)',
 'You',
 'You And I',
 'You And Tequila',
 'You Belong With Me',
 'You Da One',
 'You Found Me',
 'You and Me',
 'Young Forever',
 'Young, Wild & Free',
 'Your Body',
 'Your Love',
 'Your Love Is My Drug'];
    new Awesomplete(input1, {list: songs});

    var input2 = document.getElementById("auto-2");
    var artists = [
'Westlife',
'Beyonce Knowles',
'Lene Marlin',
'Megan Nicole',
'Celine Dion',
'Mariah Carey',
 'Jazon Marz',
 'Adele',
 'Tiffany Evans',
 'Green Day',
'112',
 '2 Chainz',
 '2 Pistols',
 '3 Doors Down',
 '3OH!3',
 '5 Seconds Of Summer',
 '50 Cent',
 'A Great Big World',
 'Adam Lambert',
 'Adele',
 'Akon',
 'Alessia Cara',
 'Alex Clare',
 'Alicia Keyes',
 'Alicia Keys',
 'Aloe Blacc',
 'American Authors',
 'Amerie',
 'Amy Winehouse',
 'Ariana G',
 'Asher Roth',
 'Avicii',
 'Avril Lavigne',
 'B.o.B',
 'Baby Bash',
 'Baby Boy Da Prince',
 'Backstreet Boys',
 'Bad Meets Evil',
 'Bastille',
 'Becky G',
 'Beyonce',
 'Beyonce & Shakira',
 'Big Sean',
 'Billy Currington',
 'Black Eyed Peas',
 'Blake Shelton',
 'Blue October',
 'Bobby Shmurda',
 'Bobby Valentino',
 'Bon Jovi',
 'Bone Thugs-N-Harmony',
 'Bow Wow',
 'Boys Like Girls',
 'Brad Paisley',
 'Brad Paisley With Carrie Underwood',
 'Brantley Gilbert',
 'Britney Spears',
 'Brooke Valentine',
 'Bruno Mars',
 'Bryson Tiller',
 'Bubba Sparxxx',
 'Buckcherry',
 'Busta Rhymes',
 'Ca$h Out',
 'Cali Swag District',
 'Calvin Harris',
 'Carly Rae Jepsen',
 'Carrie Underwood',
 'Cascada',
 'Cassie',
 'Cee Lo Green',
 'Chainsmokers',
 'Chamillionaire',
 'Charli XCX',
 'Charlie Puth',
 'Cher Lloyd',
 'Cherish',
 'Chingy',
 'Chris Brown',
 'Christina Aguilera',
 'Christina Perri',
 'Ciara',
 'Clean ',
 'Cobra Starship',
 'Colbie Caillat',
 'Coldplay',
 'Crime Mob',
 'D.H.T.',
 'D.R.A.M.',
 'D4L',
 'DJ Khaled',
 'DJ Snake',
 'DNCE',
 'Daddy Yankee',
 'Daniel Powter',
 'Danity Kane',
 'Daughtry',
 'David Archuleta',
 'David Banner',
 'David Cook',
 'David Guetta',
 'Daya',
 'Dem Franchize Boyz',
 'Demi Lovato',
 'Desiigner',
 'Dev',
 'Diddy',
 'Dierks Bentley',
 'Disclosure',
 'Dr. Dre',
 'Drake',
 'E-40',
 'Echosmith',
 'Ed Sheeran',
 'Edward Maya & Vika Jigulina',
 'Eli Young ',
 'Elle King',
 'Ellie Goulding',
 'Elliott Yamin',
 'Eminem',
 'Eminem, Dr. Dre',
 'Enrique Iglesias',
 'Eric Church',
 'Estelle',
 'Evanescence',
 'Fabolous',
 'Faith Hill',
 'Fall Out Boy',
 'Fantasia',
 'Far East Movement',
 'Far*East Movement',
 'Fat Joe',
 'Fat Joe, Rem',
 'Fergie',
 'Fetty Wap',
 'Field Mob',
 'Fifth Harmony',
 'Finger Eleven',
 'Flo Rida',
 'Florida Georgia Line',
 'Flume',
 'Foo Fighters',
 'Fort Minor',
 'Foster The People',
 'Frankie J',
 'Future',
 'G-Eazy x Bebe Rexha',
 'Gavin DeGraw',
 'Gavin Rossdale',
 'Gnarls Barkley',
 'Gorillaz',
 'Gotye',
 'Green Day',
 'Gwen Stefani',
 'Gym Class Heroes',
 'Hailee Steinfeld',
 'Havana Brown',
 'Hellogoodbye',
 'Hinder',
 'Hot Chelle Rae',
 'Howie Day',
 'Huey',
 'Hunter Hayes',
 'Hurricane Chris',
 'Idina Menzel',
 'Iggy Azalea',
 'Imagine Dragons',
 'Iyaz',
 'J. Cole',
 'J. Holiday',
 'Ja Rule',
 'Jake Owen',
 'James Bay',
 'James Blunt',
 'Jamie Foxx',
 'Jason Aldean',
 'Jason Aldean With Kelly Clarkson',
 'Jason DeRulo',
 'Jason Derulo',
 'Jason Mraz',
 'Jay Sean',
 'Jay Z',
 'Jay-Z',
 'Jay-Z + Alicia Keys',
 'Jay-Z, Rihanna',
 'Jay-Z/Linkin Park',
 'Jennifer Lopez',
 'Jeremih',
 'Jerrod Niemann',
 'Jesse McCartney',
 'Jessie J',
 'Jessie J, Ariana G',
 'Jibbs',
 'Jim Jones',
 'JoJo',
 'John Legend',
 'John Mayer',
 'Jonas Brothers',
 'Jordin Sparks',
 'Jordin Sparks Duet With Chris Brown',
 'Juelz Santana',
 'Justin Bieber',
 'Justin Timberlake',
 'KT Tunstall',
 'Kanye West',
 'Kanye West, Big Sean, Pusha T, 2 Chainz',
 'Kardinal Offishall',
 'Karmin',
 'Katy Perry',
 'Ke$Ha',
 'Ke$ha',
 'Kelis',
 'Kelly Clarkson',
 'Kelly Row',
 'Kenny Chesney',
 'Kent Jones',
 'Keri Hilson',
 'Kevin Gates',
 'Kevin Rudolf',
 'Keyshia Cole',
 'Kid Cudi',
 'Kid Ink',
 'Kid Rock',
 'Kiiara',
 'Kings Of Leon',
 'Kings of Leon',
 'Kip Moore',
 'Kirko Bangz',
 'Kongos',
 'Kris Allen',
 'Kristinia DeBarge',
 'LMFAO',
 'La Roux',
 'Lady Antebellum',
 'Lady Gaga',
 'Lee Brice',
 'Leona Lewis',
 'Lifehouse',
 'Lil Jon',
 'Lil Wayne',
 'Lil Wayne, Wi',
 'Linkin Park',
 'Little Big Town',
 'Lloyd',
 'Lorde',
 'Ludacris',
 'Lukas Graham',
 'Luke Bryan',
 'Lupe Fiasco',
 'M.I.A.',
 'MAGIC!',
 'Macklemore & Ryan Lewis',
 'Madonna',
 'Major Lazer',
 'Mariah Carey',
 'Mario',
 'Maroon 5',
 'Maroon5',
 'Martin Garrix',
 'Mary J. Blige',
 'Maxwell',
 'Meghan Trainor',
 'Metro Station',
 'Mi',
 'Michael Buble',
 'Michael Franti',
 'Michael Jackson',
 'Miguel',
 'Mike Jones',
 'Mike Posner',
 'Mike Will Made-It',
 'Miley Cyrus',
 'Mims',
 'Missy Elliott',
 'Mkto',
 'My Chemical Romance',
 'Natalie',
 'Natasha Bedingfield',
 'Naughty Boy',
 'Ne-Yo',
 'Nelly',
 'Nelly Furtado',
 'Neon Trees',
 'New Boyz',
 'Nick Jonas',
 'Nick Lachey',
 'Nickelback',
 'Nicki Minaj',
 'Nico',
 'O.T. Genasis',
 'Omarion',
 'One Direction',
 'OneRepublic',
 'Orianthi',
 'Owl City',
 'P!Nk',
 'P!nk',
 'PSY',
 'Panic! At The Disco',
 'Papa Roach',
 'Paramore',
 'Passenger',
 'Paula DeAnda',
 'Pharrell Williams',
 'Phillip Phillips',
 'Pink',
 'Pitbull',
 'Plies',
 'Post Malone',
 'Pretty Ricky',
 'R. Kelly',
 'R. Kelly Or Bow Wow ',
 'Rascal Flatts',
 'Ray J',
 'Red Hot Chili Peppers',
 'Rich Boy',
 'Rich Gang',
 'Rick Ross',
 'Rihanna',
 'Rihanna & Sean Paul',
 'Rixton',
 'Rob Thomas',
 'Robin Thicke',
 'Rodney Atkins',
 'Ruth B',
 'Ryan Cabrera',
 'Sam Hunt',
 'Sam Smith',
 'Santana',
 'Sara Bareilles',
 'Saving Abel',
 'Schoolboy Q',
 'Sean Kingston',
 'Sean Paul',
 'Second',
 'Selena Gomez',
 'Selena Gomez & The Scene',
 'Shakira',
 'Shawn Mendes',
 'Shinedown',
 'Shontelle',
 'Shop Boyz',
 'Sia',
 'Silento',
 'Snoop Dogg',
 'Snow Patrol',
 'Sugar',
 'T-Pain',
 'T.I.',
 'Taio Cruz',
 'Taylor Hicks',
 'Taylor Swift',
 'Teddy Geiger',
 'The ',
 'The All-American Rejects',
 'The Black Eyed Peas',
 'The Click Five',
 'The Fray',
 'The Game',
 'The Killers',
 'The Lumineers',
 'The Neighbourhood',
 'The Pussycat Dolls',
 'The Red Jumpsuit Apparatus',
 'The Script',
 'The Veronicas',
 'The Wanted',
 'The-Dream',
 'Thomas Rhett',
 'Thompson Square',
 'Three 6 Mafia',
 'Tim McGraw',
 'Timba',
 'Tinashe',
 'Tinie Tempah',
 'Toby Keith',
 'Tory Lanez',
 'Tove Lo',
 'Trace Adkins',
 'Train',
 'Travie McCoy',
 'Travis Scott',
 'Trey Songz',
 'Trick Daddy',
 'Trillville',
 'Tyga',
 'Uncle Kraker',
 'Unk',
 'Usher',
 'Usher And Alicia Keys',
 'Waka Flocka Flame',
 'Webbie',
 'Weeknd',
 'Weezer',
 'Will Smith',
 'Wiz Khalifa',
 'Wyclef Jean',
 'X Ambassadors',
 'Yg',
 'Ying Yang Twins',
 'Yo Gotti',
 'Young Dro',
 'Young Jeezy',
 'Young Money',
 'Yung Joc',
 'Zac Brown ',
 'Zara Larsson',
 'Zayn',
 'Zedd',
 'fun.',
 'gnash',
 'twenty one pilots'];
    new Awesomplete(input2, {list: artists});

    </script>

    </body>
    </html>
